/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFBB;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	/* [disabled]font-weight: normal; */
	color: #000000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #359F00;
}

a:hover {
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	background: 
}

/* Header */

#header {
	clear: both;
	width: 980px;
	height: 330px;
	margin: 0px auto;
	padding: 0px;
}

/* Logo */

#logo {
	margin: 0px auto;
	padding: 80px 0px 0px 0px;
	color: #000000;
}

#logo h1, #logo p {
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#logo h1 {
	font-size: 72px;
}

#logo span {
	color: #FF3801;
}

#logo p {
	margin: -25px 0px 0px 0px;
	padding: 0px;
	letter-spacing: -1px;
	font-style: italic;
	font-size: 32px;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #359F00;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #65B23E;
	
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #FF6F26;
	font-weight: bold;
	color: #FFFFFF;
}

/* Menu */

#menu {
	background: #99FF99;
	width: 980px;
	height: 80px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 30px 0px 0px 0px;
	list-style: none;
	line-height: normal;

}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 98px;
	height: 37px;
	margin-right: 5px;
	padding: 12px 0px 0px 0px;
	background: url(images/img02.jpg) no-repeat left top;
	text-decoration: none;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #666666;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: url(images/img03.jpg) no-repeat left top;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#page-bgtop {
	padding: 20px 50px 0px 0px;
	
}

#page-bgbtm {
	
	padding: 20px 0px 0px 0px;    right:0;

	
}


/* Content */

#content {
	float: center;
	width: 430px;
	margin-top: 100px;
	padding: 0px 0px 0px 250px;
	background: url(images/img04.gif) repeat-y left top;
}

.post {
	margin-bottom: 15px;
	padding: 0px 0px 0px 0px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 40px;
	margin-bottom: 10px;
	padding: 15px 0px 0px 10px;
	background: url() no-repeat left 0px;
	text-transform: lowercase;
	font-size: 28px;
	color:#666666;
	background: #99FF99;
}

.post .title a {
	color: #666666;
	border: none;

}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */
#category {
	background: #99FF99;
	height:40px;
	width: 220px;
	margin: 0px;
	padding: 25px 0px 0px 0px;
	}
	
	
#lightfood {
	background: #FFDDAA;
	height:400px;
	width: 180px;
	padding: 30px 0px 0px 0px;
}


#sidebar2 {
	float: right;
	height:760px;
	width:220px;
	margin: 20px 0px 0px 0px;
	padding: 0px 30px 0px 0px;
}




#sidebar {
	float: left;
	width: 220px;
	margin:0px 0px 0px 0px;
	padding:0;
	background:#FFDDAA;
}

#sidebar ul {
	margin: 0;
	padding:0px 20px 0px 0px;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding:0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li a {
	padding-left: 10px;
	background: url(images/img03.gif) no-repeat left 5px;
	color: #464646;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 60px;
	padding-left: 30px;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #666666;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}
